<div class="ui-g company-header">
  <div class="ui-g-12 ui-md-6" style="text-align: left;">
      Company Details
  </div>
  <div class="ui-g-12 ui-md-6" style="text-align: right;">
      <button pButton type="button" label="Edit" (click)="handleEditCompanyClick()" ></button>
  </div>
</div>
<p-panel>
  <p-header>
      <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
            {{company.name}}
          </span>
      </div>
  </p-header>

  <p-tabView>
      <p-tabPanel header="Company Details" class="company-detail-li">
         <div style="width: 90%;">
              <div class="row mb-3">
                  <div class="col-sm-3"><strong>Company ID</strong></div>
                  <div class="col-sm-3">{{ company.companyId }}</div>
                  <div class="col-sm-3"><strong>Postal Code</strong></div>
                  <div class="col-sm-3">{{ company.address.postalCode }}</div>
              </div>

              <div class="row mb-3">
                  <div class="col-sm-3"><strong>Company Name</strong></div>
                  <div class="col-sm-3">{{ company.name }}</div>
                  <div class="col-sm-3"><strong>City</strong></div>
                  <div class="col-sm-3">{{ company.address.city }}</div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3"><strong>TVA Number</strong></div>
                  <div class="col-sm-3">{{ company.vatNumber }}</div>
                  <div class="col-sm-3"><strong>Country</strong></div>
                <div class="col-sm-3">{{ company.address.country }}</div>
                  
              </div>

              <div class="row mb-3">
                <div class="col-sm-3"><strong>Address 1</strong></div>
                  <div class="col-sm-3">{{ company.address.address1 }}</div>
                  <div class="col-sm-3"><strong>Client Type</strong></div>
                <div class="col-sm-3">{{ company.cnyType }}</div>
                  
              </div>

              <div class="row mb-3">
                <div class="col-sm-3"><strong>Address 2</strong></div>
                <div class="col-sm-3">{{ company.address.address2 }}</div>
                <div class="col-sm-3"><strong>Comments</strong></div>
                <div class="col-sm-3">{{ company.comments }}</div>
              </div>

             
         </div>
      </p-tabPanel>
      <p-tabPanel header="Contacts">
          <div style="width: 90%;">
              
          </div>
      </p-tabPanel>
  </p-tabView>
  <p-footer>
      <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="ui-button-info" style="margin-right: .25em" (click)="list()"></button>  
  </p-footer>
</p-panel>