div.company-header {
    background-color: #4aafff;
    color: white;
}

div.company-header button{
    background-color: #8224e3;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
    background-color: #8224e3;
    border: 1px solid #8224e3;
}