div.company-header {
    background-color: #4aafff;
    color: white;
}

div.company-header button{
    background-color: #8224e3;
}

.ui-tabview li.ui-state-active {
    background-color: #8224e3;
    border: 1px solid #8224e3;
}

  